In [ ]:
range(5)

range(0, 5)

In [ ]:
## for i in range(5):
##     prints 0 to 4
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
## for to print 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [6]:
## range(1,10,2)  # start at 1, stop before 10, step by 2
## for to print 1 to 9, step by 2
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

In [8]:
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
str = "Hello, World!"
for i in range(len(str)):
    print(str[i])

H
e
l
l
o
,

W
o
r
l
d
!

In [10]:
str = "Hello, World!"
for i in str:
    print(i)

H
e
l
l
o
,

W
o
r
l
d
!

In [11]:
str = "Hello, World!"
print(len(str))

13

In [12]:
count = 0
while count< 5:
    print(count)
    count += 1 ## count = count + 1

0
1
2
3
4

In [13]:
#Loop control statements
for i in range(10):
    if i == 5:
        continue  # Skip the rest of the loop when i is 5
    print(i)

0
1
2
3
4
6
7
8
9

In [14]:
#Loop control statements
for i in range(10):
    if i == 5:
        break  # Skip the rest of the loop when i is 5
    print(i)

0
1
2
3
4

In [15]:
#pass statement
for i in range(10): 
    if i == 5:
        pass  # Do nothing when i is 5, but continue the loop
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
##Nested loops
for i in range(3):  # Outer loop    
    for j in range(2):  # Inner loop
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [ ]:
## Calculate the sum of first N natural numbers using for loop
N = 10
sum_natural_numbers = 0
for i in range(1, N + 1):
    sum_natural_numbers += i  # Add i to the sum 
print(f"The sum of the first {N} natural numbers is: {sum_natural_numbers}")

The sum of the first 10 natural numbers is: 55

In [19]:
## Calculate the sum of first N natural numbers using while loop    
N = 10
sum_natural_numbers = 0    
count = 1
while count <= N:
    sum_natural_numbers += count  # Add count to the sum
    count += 1  # Increment count   
print(f"The sum of the first {N} natural numbers is: {sum_natural_numbers}")

The sum of the first 10 natural numbers is: 55

In [22]:
print("Prime numbers between 1 and 100:")
for i in range(1,101):
    if(i >1):
        for j in range(2, i//2 + 1):
            if(i % j == 0):
                break
        else:
            print(i)
# Print prime numbers between 1 and 100

Prime numbers between 1 and 100:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97