In [19]:
#syntax
def function_name(parameters):
    """Doc string"""
    #Function body
    return expression

In [20]:
def even_or_add(num):
    """This function finds even or add"""
    if num%2==0:
        print("the num is even")
    else:
        print("the num is odd")

In [21]:
even_or_add(21)

the num is odd

In [22]:
# Function with multiple parameters
def add(a,b):
    """This function is for add"""
    return a+b

result=add(2,4)
print(result)

6

In [23]:
## Default parameters
def greet(name="Guest"):
    print(f"Hello {name}, Welcome  to the tech world")

greet("Karthik")
greet()

Hello Karthik, Welcome  to the tech world
Hello Guest, Welcome  to the tech world

In [24]:
### Variable Length Arguments
## Positional and keywords arguments

def print_values(*tests): #can give any variable name instead of args
    for test in tests:
        print(test)

print_values(1,2,3,"test","values")

1
2
3
test
values

In [27]:
### Keywords arguments -all param will be in key value pairs\

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [28]:
print_details(name="karthik" ,age="33" ,country="india")

name:karthik
age:33
country:india

In [41]:
#positional arg and keyword args
def print_details(*args,**kwargs):
    for  val in args:
        print(f"Positional argument {val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [42]:
print_details(1,2,3,4,5,6,"chinnadurai",name="karthik",age=33,country="india")

Positional argument 1
Positional argument 2
Positional argument 3
Positional argument 4
Positional argument 5
Positional argument 6
Positional argument chinnadurai
name:karthik
age:33
country:india

In [44]:
##Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [45]:
##Return  multiple values 
def multiply(a,b):
    return a*b,a,b

multiply(2,3)

(6, 2, 3)