## map() function in pyhon

In [ ]:
numbers = [1,2,3,4,5,6,7]
def square(x):
    return x*x

list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49]

In [7]:
## Using lambda function with map
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49]

In [10]:
## map multiple iterables
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [12]:
##map to convert list of string to integers
# Use map to convert string to integer
str_numbers=['1','2','3','4']
int_numbers=list(map(int , str_numbers))

print(int_numbers)

[1, 2, 3, 4]

In [13]:
words=['apple','banana','cherry','jackfruit']
upper_words= list(map(str.upper, words))

print(upper_words)

['APPLE', 'BANANA', 'CHERRY', 'JACKFRUIT']

In [14]:
def get_name(person):
    return person['name']

people=[
    {'name':'karthik','age':32},
    {'name':'chinnadurai','age':40}
]

list(map(get_name,people))

['karthik', 'chinnadurai']