In [1]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
##list to tuple and tuple to list possible
numbers= tuple([1, 2, 3, 4, 5])
print(numbers)

(1, 2, 3, 4, 5)

In [4]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [5]:
mixed_tuyple = (1, 2.5, 'hello', [1, 2, 3], True)
print(mixed_tuyple)

(1, 2.5, 'hello', [1, 2, 3], True)

In [6]:
numbers

(1, 2, 3, 4, 5)

In [7]:
numbers[0]

1

In [9]:
numbers[3]

4

In [10]:
#Slicing opertions of tuples are similar to lists
print(numbers[:3])

(1, 2, 3)

In [12]:
numbers[::-2]

(5, 3, 1)

In [14]:
numbers[2:4]

(3, 4)

In [11]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [15]:
#Tuple operations
concatenation_tuple = numbers + mixed_tuyple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 2.5, 'hello', [1, 2, 3], True)

In [17]:
mixed_tuyple * 3

(1,
 2.5,
 'hello',
 [1, 2, 3],
 True,
 1,
 2.5,
 'hello',
 [1, 2, 3],
 True,
 1,
 2.5,
 'hello',
 [1, 2, 3],
 True)

In [18]:
numbers * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [19]:
## Immutable nature of tuples

list1 = [1, 2, 3]
print(list1)
list1[1]="karthik" 
print(list1)

[1, 2, 3]
[1, 'karthik', 3]

In [20]:
numbers[1]="karthik"  # This will raise an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [21]:
## Tuple methods
numbers

(1, 2, 3, 4, 5)

In [22]:
numbers.count(1)  # Count occurrences of 1 in the tuple

1

In [23]:
print(numbers.index(3))  # Find the index of the first occurrence of 3

2

In [24]:
#Packing and Unpacking tuples
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [26]:
#Unpacking tuple
a, b, c = packed_tuple
print(a)
print(b)        
print(c)

1
Hello
3.14

In [ ]:
## Unpacking with *
numbers = (1, 2, 3, 4, 5,6)
first, *middle, last = numbers
print(first)   # 1
print(middle)  # [2, 3, 4, 5]
print(last)    # 6

1
[2, 3, 4, 5]
6

In [ ]:
#Nested tuples
#Nested lists
lst=[[1,2,3,4], [6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst[0])
print(lst[0][1])  # Accessing an element in a nested list
print(lst[2][1])  # Accessing an element in a nested list

[1, 2, 3, 4]
2
Hello

In [ ]:
#Slicing nested tuples
lst[0][0:3]

[1, 2, 3]

In [31]:
lst[2][::-1]

['c', 3.14, 'Hello', 1]

In [36]:
## Tuples inside tuples
nested_tuple = ((1,2,3), ("a","b","c"), (True, False))
print(nested_tuple[0])  # Accessing the first tuple
print(nested_tuple[1][2])  # Accessing the second element of the second tuple
print(nested_tuple[2][::-1])  # Accessing the first element of the third tuple

(1, 2, 3)
c
(False, True)

In [39]:
##iterating over nested tuples
for inner_tuple in nested_tuple:
    for item in inner_tuple:
        print(item, end=' ') ## "" also can be used instead of ' '
    print()  # New line after each inner tuple

1 2 3
a b c
True False